.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.animate-spin-slow {
    animation: spin-reverse 2s linear infinite;
}

@keyframes spin-reverse {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}
